# macOS system files
.DS_Store

# Node modules and cache
node_modules/
dist/
.cache/
npm-debug.log
yarn-debug.log
yarn-error.log

# Environment variables
.env
.env.local

# Logs
logs
*.log

# OS trash
.Trash/
